body {
  font: 14px "Century Gothic", Futura, sans-serif;
  color: white;
  margin: 0px;
  background-color: rgb(20, 20, 20);
}

.t-row {
  display: flex;
}

.t-board {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: none;
  outline: none;
}

.t-board:focus {
  border: none;
}

.t-board:active {
  border: none;
}

.t-cell {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  color: grey;
  border: 1px solid rgb(20, 20, 20);
}

.t-cell-0 {
  background-color: rgb(30, 30, 30);
}

.t-cell-1 {
  background-color: yellow;
}

.t-cell-2 {
  background-color: teal;
}

.t-cell-3 {
  background-color: orange;
}

.t-cell-4 {
  background-color: purple;
}

.t-cell-5 {
  background-color: blueviolet;
}

.t-cell-6 {
  background-color: red;
}

.t-cell-7 {
  background-color: green;
}

.t-score-label {
  font-weight: bold;
}

.t-score-label {
  font-weight: bold;
}

.t-parent {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

element.style {
  width: 44px;
  left: 0px;
}
